*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1{
    background-color: black;
    color: white;
}

.my{
    color: white;
}

.cloud{
    color: cyan;
}

h2{
    color: white;
    background-color: purple;
    text-align: center;
    font-style: italic;
}

h3{
    color: black;
    background-color: thistle;
    text-align: right;
    text-decoration: underline;
}

